<!DOCTYPE html>
<html lang="en">
    <head>
        <title>RS21 Demo | Friendly Neighborhood Geeks</title>
        <!-- RS21 FAV ICON -->
        <link rel="apple-touch-icon" sizes="72x72" href="https://rs21.io/static/assets/img/favicon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="144x144" href="https://rs21.io/static/assets/img/favicon/apple-icon-144x144.png">
        <link rel="icon" type="image/png" sizes="192x192" href="https://rs21.io/static/assets/img/favicon/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="https://rs21.io/static/assets/img/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="https://rs21.io/static/assets/img/favicon/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="https://rs21.io/static/assets/img/favicon/favicon-16x16.png">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="https://rs21.io/static/assets/img/favicon/ms-icon-144x144.png">
        <meta name="theme-color" content="#ff0000">
        <!-- HEADER SCRIPTS -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="assets/js/jquery.min.js"></script>
        <!-- FONT AWESOME -->
        <link rel="stylesheet"href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"></link>
        <!-- BOOTSTRAP -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="assets/css/style.css">
        <!-- LEAFLET -->
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin=""/>
        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
        <!-- VUE2LEAFLET -->
        <link rel="stylesheet" href="//unpkg.com/leaflet/dist/leaflet.css">
        <script src="//unpkg.com/vue2-leaflet"></script>
        <!-- AXIOS RESTAPI CALLS -->
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    </head>
    <body>
        <!-- VUE js and Main Body Content -->
        <div id="app">
            <header class="sticky-top">
                <div class="header-nav">
                    <div class="">
                        <div class="w-100 pb-2 text-center bg-white">
                            <h3 class="m-0;">Welcome to the RS21 Demo<br>
                                Today is {{ currentDayofWeek() }}, {{ currentMonth() }} {{ date.getDate() }}, {{ date.getFullYear() }}</h3>
                        </div>
                    </div>
                </div>
            </header>
            <div class="app-container">
                <div class="app-container-display">
                        <div id="display-toggle" onClick="data_io_open()">
                            <a href="javascript:void(0)" id="desktopMainClick" title="Data Controls" target="_self" style="color: #FFFFFF; text-decoration: none; display: block; width: 100%; height: 100%">
                                <span style="position:absolute; display:block; width: 200px; height: 60px; top: 70px; left: -70px; text-align:center; font-size:25px; line-height: 46px; -ms-transform: rotate(-90deg); -webkit-transform: rotate(-90deg); transform: rotate(-90deg)">Data Controls</span>
                            </a>
                        </div>
                    <div id="display-controls" class="bg-white">
                        <div id="data-io" class="w-100 h-50 p-2 position-relative">
                            <div class="btn-group btn-group-sm" role="group">
                                <div id="data-set-selector" class="btn-group">
                                    <button id="btnGroupDrop1" class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Data Set
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                        <a class="dropdown-item" href="#" onClick="data_option_selected()" @click="openControls(data_sets[index].Type)" v-bind:key="type.id" v-for="(type, index) in data_sets" v-bind:type=data_sets[index].Type>{{data_sets[index].Type}}</a>
                                    </div>
                                </div>
                                <div class="btn-group">
                                    <button id="btnGroupDrop2" class="data-io-map btn btn-secondary dropdown-toggle" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" disabled>
                                        Map
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop2">
                                        <a class="dropdown-item" href="#" @click="populateMarkerF10()">Map First 10</a>
                                        <a class="dropdown-item" href="#" @click="populateMarkerL10()">Map Last 10</a>
                                        <!-- <a class="dropdown-item" href="#" @click="populateMarker5EA()">Map 5 of Each Set</a> -->
                                    </div>
                                </div>
                                <button type="button" class="data-io-clear btn btn-danger" @click="clearMarkers()" disabled>Clear</button>
                            </div>
                            <button type="button" class="btn btn-light data-io-close" title="close" onClick="data_io_close()">X</button>
                            <div id="data-set-item-info">
                                <card v-bind:key="Temp_Single.id" v-for="(item, index) in Temp_Single" v-bind:a=Temp_Single[index].a v-bind:b=Temp_Single[index].b v-bind:c=Temp_Single[index].c v-bind:d=Temp_Single[index].d class="card"></card>
                            </div>
                            <div id="data-set-filter-container" class="position-absolute text-center w-100">
                                <div class="data-set-filter-group">      
                                    <input id="searchFilter" type="text" value="" onkeyup="filterDataSetItems()" required>
                                    <span class="data-set-filter-highlight"></span>
                                    <span class="data-set-filter-bar"></span>
                                    <label>Filter Data Here...</label>
                                </div>    
                            </div>
                        </div>
                        <div class="blue-divider"></div>
                        <div id="data-set-container" class="h-50">
                            <ul id="data-set-list-ul" class="ul-data-list">
                            </ul>
                        </div>
                    </div>
                    <div id="display-map" class="">
                        <div id="map-container" >
                            <l-map ref="map" id="map":options="options" :zoom="zoom" :center= "center" :attribution= 'attribution' class="container-fluid leaflet-container leaflet-touch leaflet-fade-anim leaflet-touch-zoom leaflet-grab leaflet-touch-drag" tabindex="2">
                                <l-control-zoom position="topright"></l-control-zoom>
                                <l-tile-layer :url= "url"></l-tile-layer>
                                <l-control-attribution position="bottomright" :prefix="attribution">
                                </l-control-attribution>
                                <custom-marker-self v-bind:key="my_marker.id" v-for="(item, index) in my_marker.slice(0,1)" v-bind:lat="my_marker[0]" v-bind:long="my_marker[1]" v-bind:radius="my_radius"></custom-marker-self>
                                <custom-marker-circle v-bind:key="my_marker.id" v-for="(item, index) in my_marker.slice(0,1)" v-bind:lat="my_marker[0]" v-bind:long="my_marker[1]" v-bind:radius="my_radius"></custom-marker-circle>
                                <!-- Frist 10 Markers -->
                                <custom-marker-census v-bind:key="Temp_Census.id" v-for="(item, index) in Temp_Census.slice(0,10)" v-bind:index=index v-bind:name=Temp_Census[index].Name v-bind:lat=Temp_Census[index].geometry.coordinates[0][0][1] v-bind:lng=Temp_Census[index].geometry.coordinates[0][0][0] v-bind:id=Temp_Census[index].properties.GEOID></custom-marker-census>
                                <custom-marker-twitter v-bind:key="Temp_Twitter.id" v-for="(item, index) in Temp_Twitter.slice(0,10)" v-bind:user=Temp_Twitter[index].Username v-bind:lat=Temp_Twitter[index].Lat v-bind:lng=Temp_Twitter[index].Long v-bind:index=index v-bind:dtg=Temp_Twitter[index].Time></custom-marker-twitter>
                                <custom-marker-facebook v-bind:key="Temp_Facebook.id" v-for="(item, index) in Temp_Facebook.slice(0,10)" v-bind:name=Temp_Facebook[index].Name v-bind:lat=Temp_Facebook[index].Lat v-bind:lng=Temp_Facebook[index].Long v-bind:index=index v-bind:checkins=Temp_Facebook[index].Checkins></custom-marker-facebook>
                                <!-- Reverse Markers Last 10 -->
                                <custom-marker-census v-bind:key="Temp_L_Census.id" v-for="(item, index) in Temp_L_Census.slice(0,10)" v-bind:index=index v-bind:name=Temp_L_Census[index].Name v-bind:lat=Temp_L_Census[index].geometry.coordinates[0][0][1] v-bind:lng=Temp_L_Census[index].geometry.coordinates[0][0][0] v-bind:id=Temp_L_Census[index].properties.GEOID></custom-marker-census>
                                <custom-marker-twitter v-bind:key="Temp_L_Twitter.id" v-for="(item, index) in Temp_L_Twitter.slice(0,10)" v-bind:user=Temp_L_Twitter[index].Username v-bind:lat=Temp_L_Twitter[index].Lat v-bind:lng=Temp_L_Twitter[index].Long v-bind:index=index v-bind:dtg=Temp_L_Twitter[index].Time></custom-marker-twitter>
                                <custom-marker-facebook v-bind:key="Temp_L_Facebook.id" v-for="(item, index) in Temp_L_Facebook.slice(0, 10)" v-bind:name=Temp_L_Facebook[index].Name v-bind:lat=Temp_L_Facebook[index].Lat v-bind:lng=Temp_L_Facebook[index].Long v-bind:index=index v-bind:checkins=Temp_L_Facebook[index].Checkins></custom-marker-facebook>
                                <!-- RS21 Default Marker -->
                                <l-marker :lat-lng="marker">
                                    <l-popup>RS21<br>
                                        <a href="https://rs21.io" target="_blank">https://rs21.io</a>
                                    </l-popup>    
                                </l-marker>
                            </l-map>
                            <button id="locate-position" class="btn btn-sm btn-outline-success" title="Find Location" @click="myLocation()"><i class="fa fa-map-marker" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal -->
            <modal></modal>
        </div>
        <div id="footer">
            <img id="rs21logo" src="assets/img/RS21_logo.png">
        </div>
        <script src="assets/components/vue-components.js"></script>
        <script src="assets/js/app.js"></script>
        <script src="assets/js/leaflet-mymap.js"></script>
    </body>
</html>