<!DOCTYPE html>
<html lang="en">
    <head>
        <title>RS21 Demo | Friendly Neighborhood Geeks</title>
        <!-- RS21 FAV ICON -->
        <link rel="apple-touch-icon" sizes="57x57" href="https://rs21.io/static/assets/img/favicon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="https://rs21.io/static/assets/img/favicon/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="https://rs21.io/static/assets/img/favicon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="https://rs21.io/static/assets/img/favicon/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="https://rs21.io/static/assets/img/favicon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="https://rs21.io/static/assets/img/favicon/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="https://rs21.io/static/assets/img/favicon/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="https://rs21.io/static/assets/img/favicon/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="https://rs21.io/static/assets/img/favicon/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192" href="https://rs21.io/static/assets/img/favicon/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="https://rs21.io/static/assets/img/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="https://rs21.io/static/assets/img/favicon/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="https://rs21.io/static/assets/img/favicon/favicon-16x16.png">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="https://rs21.io/static/assets/img/favicon/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
        <!-- HEADER SCRIPTS -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="assets/js/jquery.min.js"></script>
        <!-- BOOTSTRAP -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
        <script src="assets/components/vue-components.js"></script>
        <link rel="stylesheet" href="assets/css/style.css">
        <!-- LEAFLET -->
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin=""/>
        <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js" integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og==" crossorigin=""></script>
        <!-- VUE2LEAFLET -->
        <link rel="stylesheet" href="//unpkg.com/leaflet/dist/leaflet.css">
        <script src="//unpkg.com/vue2-leaflet"></script>
    </head>
    <body>
        <div id="app">
            <header class="sticky-top">
                <div class="">
                    <div class="">
                            <div id="data-set-selector" class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Data Set
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton" role="menu">
                                    <li>
                                        <a class="dropdown-item" href="#" v-bind:key="type.id" v-for="(type, index) in data_sets" v-bind:type=data_sets[index].Type>{{data_sets[index].Type}}</a>
                                    </li>
                                </ul>
                            </div>
                        <div class="w-100 text-center bg-white">
                            <h3>Welcome to the RS21 Demo<br>
                                Today is {{ currentDayofWeek() }}, {{ currentMonth() }} {{ date.getDate() }}, {{ date.getFullYear() }}</h3>
                        </div>
                    </div>
                </div>
            </header>
            <section class="app-container">
                <div calls="row"style="height:100vh">
                    <div id="col-left" class="">
                        <div id="data-set-container" class="h-50">
                            <ul id="" class="ul-data-list">
                                <addresses v-bind:key="listing.id" v-for="(listing, index) in listings" v-bind:name=listings[index].Name v-bind:category=listings[index].Category></addresses>
                            </ul>
                            <!-- <card v-bind:currentday=currentDayofWeek() v-bind:currentmonth=currentMonth() v-bind:day=date.getDate() v-bind:year=date.getFullYear() class="card"></card> -->
                        </div>
                    </div>
                    <div id="col-right" class="">
                        <div id="map-container" >
                                <l-map id="map":zoom="zoom" :center= "center" zoomControl=false class="container-fluid leaflet-container leaflet-touch leaflet-fade-anim leaflet-touch-zoom leaflet-grab leaflet-touch-drag">
                                    <l-tile-layer :url= "url"></l-tile-layer>
                                    <!-- <l-marker :lat-lng="marker"></l-marker> -->
                                </l-map>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <script src="assets/js/app.js"></script>
        <script src="assets/js/leaflet-mymap.js"></script>
    </body>
</html>