body {
    background: lightblue !important;
}
#map-container {
    height: 700px;
    width: 48%;
    position: fixed;
    right: 0px;
    bottom: 0px;
}
#map-container #map {
    height: 100%;
    position: relative;
}